body {

}

*{
    font-family: 'Droid Sans', sans-serif;
}

header{

    background: url(images/image1.jpg) center 0 no-repeat fixed;
    padding-bottom:20px;
    padding-top:50px;
}

header h2{
    color:white;
}

.top {
    height:20px;
    background-color:#000;
}

.logo {
    padding-top:50px;
    text-align: center;
}

nav{
    background-color:#EEE;
}

nav li{
    display:inline-block;
}

.transparent{
    background-color:#5bc0de;
    opacity:0.5;
    min-height:30px;
}

.actions{
    background-color:#5bc0de;
    color:white;
}

.actions_description{
    width:800px;
    margin:auto;
}

.scroll{
    padding-top:80px;
    padding-bottom:80px;
    text-align:center;
    color:#FFF;
}

.scroll img{
}

.transparent_rouge{
}

.donate{
    text-align:center;
    margin-top:30px;
}

.gauche{
    background-color:#000;
    color:#FFF;
    padding:15px;
}

.droite{
    background-color:#5bc0de;
    padding:15px;
    margin:10px;
}

.droite h1{
    color:white;
    margin:0px;
    margin-bottom:20px;
    font-size:24px;
}

.temoignage{
    background: url(images/image4.jpg) center 0 no-repeat fixed;
    min-height:500px;
}

.un{
    margin-bottom:40px;
}
