body {

}

header{
    min-height:1600px;
    background: url(images/image2.jpg) center 0 no-repeat fixed;
    padding-bottom:20px;
    padding-top:50px;
}

header h2{
    color:white;
}

.top {
    height:20px;
    background-color:#000;
}

.logo {
    padding-top:50px;
    text-align: center;
}

nav{
    background-color:#EEE;
}

nav li{
    display:inline-block;
}

.transparent{
    background-color:#b572d0;
    opacity:0.5;
    min-height:30px;
}

.actions{
    background-color:#b572d0;
    color:white;
}

.actions_description{
    width:800px;
    margin:auto;
}

.scroll{
    padding-top:200px;
    padding-bottom:100px;
    text-align:center;
    color:#FFF;
}

.scroll img{
}

.transparent_rouge{
}

.donate{
    text-align:center;
    margin-top:30px;
}

.gauche{
    background-color:#000;
}

.droite{
    background-color:#b572d0;
}

.un{

}
